html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, 'Arial Narrow Bold', sans-serif; }

* {
  box-sizing: border-box; }

#root {
  width: 100%;
  height: 100%;
  overflow: auto; }

.button {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  transition: all ease .2s;
  text-decoration: none; }
  .button:hover {
    cursor: pointer; }
  .button.primary {
    background: transparent;
    color: #f2f2f2;
    border: 1px solid white; }
    .button.primary:hover {
      border-color: #e6e6e6;
      color: #444;
      background: #f2f2f2; }

.content {
  padding: 30px;
  padding-top: calc(60px + 2rem);
  background: #f2f2f2;
  width: 100%;
  height: 100vh; }

header {
  width: 100%;
  height: 60px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  header .logo {
    float: left;
    padding-left: 10px;
    color: white;
    height: 100%;
    line-height: 60px;
    letter-spacing: 1px; }
  header .menu-icon {
    position: relative;
    width: 50px;
    height: 60px;
    float: right;
    margin-right: 2rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .menu-icon .menu-line {
      width: 100%;
      height: 5px;
      background: white;
      vertical-align: top;
      transition: all ease-in-out .2s; }
      header .menu-icon .menu-line:not(:last-of-type) {
        margin-bottom: 10px; }
    header .menu-icon:hover {
      cursor: pointer;
      color: #444; }
      header .menu-icon:hover .menu-line {
        background: #ddd; }
    header .menu-icon.open .line1 {
      -webkit-transform-origin: right center;
              transform-origin: right center;
      -webkit-transform: rotateZ(-36deg);
              transform: rotateZ(-36deg); }
    header .menu-icon.open .line2 {
      opacity: 0; }
    header .menu-icon.open .line3 {
      -webkit-transform-origin: right center;
              transform-origin: right center;
      -webkit-transform: rotateZ(36deg);
              transform: rotateZ(36deg); }
  header .navigation {
    height: auto;
    line-height: 60px;
    color: white;
    float: right;
    font-size: 1rem; }
    header .navigation .item {
      display: inline-block;
      margin-right: 2rem;
      transition: color ease .2s;
      text-decoration: none;
      color: white; }
      header .navigation .item:hover {
        cursor: pointer;
        color: #f2f2f2; }

@media (max-width: 750px) {
  header {
    background: black; }
    header .menu-icon {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    header .navigation {
      position: fixed;
      top: 60px;
      height: 0;
      left: 0;
      background: #000;
      width: 100%;
      padding-bottom: 2rem;
      padding: 0 10px;
      overflow: hidden;
      transition: height ease .3s; }
      header .navigation .item {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ddd; }
      header .navigation.open {
        height: calc(100vh - 60px); } }

.home {
  overflow: auto;
  overflow-x: hidden;
  width: 100%; }
  .home .background {
    height: 100vh;
    width: 100vw;
    padding-top: 20vh;
    color: white;
    background: #000;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .home .background .title {
      font-size: 60px;
      position: relative;
      -webkit-animation: fadein 1s ease-out;
              animation: fadein 1s ease-out; }
    .home .background .subtitle {
      padding-top: 10vh;
      font-size: 25px;
      color: #ddd;
      opacity: 0;
      -webkit-animation: fadein 1s ease-out 1s forwards;
              animation: fadein 1s ease-out 1s forwards; }
    .home .background .alia {
      padding-top: 2vh;
      font-size: 40px;
      -webkit-animation: fadein 1s ease-out;
              animation: fadein 1s ease-out; }
    .home .background .button-wrapper {
      padding-top: 10vh; }
      .home .background .button-wrapper .button {
        width: 150px;
        margin-right: 20px; }
      .home .background .button-wrapper .get-started {
        text-decoration: none;
        background: #f2f2f2;
        color: #444; }
  .home section {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    text-align: center;
    padding-top: calc(60px + 5vh);
    position: relative; }
    .home section:nth-of-type(even) {
      background: #f2f2f2; }
    .home section .arrow {
      position: absolute;
      display: inline-block;
      transition: all ease .25s;
      font-size: 32px;
      color: #ddd; }
      .home section .arrow:hover {
        color: #777;
        cursor: pointer; }
      .home section .arrow.arrow-up {
        top: calc(60px + 1vh); }
      .home section .arrow.arrow-down {
        bottom: 1vh; }
    .home section .description {
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 20px;
      color: #777;
      position: relative; }
    .home section .img-container {
      width: 80%;
      margin: 0 auto;
      background-size: 100%; }
      .home section .img-container img {
        border-radius: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        width: 100%;
        max-height: calc(90vh - 120px); }
    .home section.active-section .description {
      -webkit-animation: fadein 1s ease-out forwards;
              animation: fadein 1s ease-out forwards; }
    .home section.leaving-section .description {
      -webkit-animation: fadeout 1s ease-out forwards;
              animation: fadeout 1s ease-out forwards; }
    .home section .button-wrapper {
      padding-top: 5px;
      text-align: center; }
      .home section .button-wrapper .checkout {
        background: rgba(24, 109, 218, 0.8);
        text-decoration: none; }
  .home .back-to-top {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    font-size: 2rem;
    color: #999;
    transition: all .25s ease-in-out; }
    .home .back-to-top:hover {
      color: #444;
      cursor: pointer; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    top: 10px; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes fadein {
  0% {
    opacity: 0;
    top: 10px; }
  100% {
    opacity: 1;
    top: 0; } }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: -10px; } }

@keyframes fadeout {
  0% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: -10px; } }

.docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .docs .side-bar {
    text-align: left;
    margin-right: 2rem;
    background: white;
    padding: 2rem 1rem;
    min-width: 300px;
    overflow: auto; }
    .docs .side-bar .item {
      margin-bottom: 10px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .docs .side-bar .item:hover {
        cursor: pointer; }
      .docs .side-bar .item .title {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background: #f1f1f1;
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 3px;
        width: 100%; }
      .docs .side-bar .item .item-tabs-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height .6s ease; }
      .docs .side-bar .item .item-tabs {
        transition: -webkit-transform .4s ease;
        transition: transform .4s ease;
        transition: transform .4s ease, -webkit-transform .4s ease;
        -webkit-transform: translateY(-1200%);
                transform: translateY(-1200%); }
        .docs .side-bar .item .item-tabs .tab {
          padding: 5px 0;
          color: #777;
          transition: color .25s ease; }
          .docs .side-bar .item .item-tabs .tab.selected, .docs .side-bar .item .item-tabs .tab:hover {
            color: rgba(24, 109, 218, 0.8); }
      .docs .side-bar .item.open .item-tabs-wrapper {
        max-height: 1000px; }
      .docs .side-bar .item.open .item-tabs {
        -webkit-transform: translateY(0);
                transform: translateY(0); }
  .docs .docs-content {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    background: white;
    overflow: auto;
    padding: 1rem;
    color: #777;
    font-weight: 400;
    line-height: 1.5rem; }
    .docs .docs-content .content-title {
      font-size: 2rem;
      padding: 1rem;
      text-align: center;
      color: rgba(24, 109, 218, 0.8); }
      .docs .docs-content .content-title:first-letter {
        text-transform: uppercase; }
    .docs .docs-content img {
      width: 100%; }
    .docs .docs-content ul {
      list-style: none; }
      .docs .docs-content ul li {
        padding-left: 0 !important; }
        .docs .docs-content ul li:not(:last-of-type) {
          margin-bottom: 1rem; }
    .docs .docs-content ul, .docs .docs-content code {
      margin-top: 20px;
      padding: 20px 10px;
      background: #f0f0f0;
      display: block;
      border-radius: 5px; }
    .docs .docs-content pre {
      width: 100%; }

.get-started-content {
  width: 100%;
  background: white;
  padding: 0 10px; }
  .get-started-content .title {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: rgba(24, 109, 218, 0.8); }
  .get-started-content .step:not(:first-of-type) {
    margin-top: 20px; }
  .get-started-content .step .step-title {
    font-size: 1.3rem;
    color: #777; }
  .get-started-content .step code {
    margin-top: 10px;
    background: #f0f0f0;
    border-radius: 5px;
    display: block;
    padding: 10px; }

/*# sourceMappingURL=style.css.map*/